/*  GLOBALES */

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------- */

.container {
	max-width: 768px;
	margin: 0 auto;
  padding-top: 20px;

}

/* -------------------------------------------- */

/* Main styles Mobile First */

/* -------------------------------------------- */

/* Header */

.first-nav {
  margin-bottom: 20px;
  border-style: solid;
  border-bottom-width: thin;
  border-bottom-color:#D1D3D4;
  padding-bottom: 20px;

}

.menu-button {
  height: 32px;
  width: 25px;
}

.logo1 {
  width: 74px;
  height: 32px;
  position: absolute;
  margin-left: 28%;
}

.login ul {
  padding-top: 10px;
}


.login ul li a {
  color: #808285;
}

.login ul li a:hover {
  text-decoration: underline;
}

.login{
  float: right;
}

.second-nav {
	text-align: center;
}

/* Main Post */

.logo2 {
  display: none;
}

.main-post-img {
  max-width: 100%;
}

.sub-title {
  color:  #808285;
  font-size: 12px;
  text-align: center;
  letter-spacing: 5px;
}

.post-title {
  color:  #808285;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
	margin-bottom: 15px;
}

.post-info {
  display: none;
}

.main-post {
  margin-bottom: 20px;
  border-style: solid;
  border-bottom-width: thin;
  border-bottom-color:#D1D3D4;
}


/* Otros destinos */

.otro-img {
  max-width: 35%;
  position: absolute;
	margin-bottom: 10px;
}

.post-info-destino {
  visibility: hidden;
}

.destino {
	overflow: hidden;
	margin-bottom: 40px;;
}

.sub-title-destino {
	position: relative;
	color:  #808285;
  font-size: 9px;
  letter-spacing: 5px;
	left: 41%;
	margin-top: 0px;

}

.post-title-destino {
	position: relative;
	color:  #808285;
	left: 41%;
	font-size: 15px;
	max-width: 60%;
	margin-top: 5px;
}


/* Footer */

.main-footer {
	text-align: center;
	margin-top: 20px;
}

.main-footer a {
	color: #808285;
	font-size: 14px;
}

.nav-footer {
	border-style: solid;
	border-top-width: thin;
	border-top-color:#D1D3D4;
}




.nav-footer ul li {
	margin-top: 5px;
	border-style: solid;
	border-bottom-width: thin;
	border-bottom-color:#D1D3D4;
}


/*@media (min-width: 768px) {

	.container {
		max-width: 992px;
	}

	.menu-button {
		display: none;
	}

	.logo1 {
		margin-left: 0px;
	}

		.second-nav {
		visibility: visible;
		text-align: center;
	  margin-left: 26%;
		margin-top: 20px;
	}

	.second-nav ul {
	  overflow: hidden;
	  }

	  .second-nav ul li {
	    float: left;
	    margin-right: 30px;
	  }

	.second-nav li a {
	  text-decoration: none;
	  color: #808285;
	  display: inline-block;
	  width: 100%;
		font-size: 20px;
	}

	.second-nav li a:hover {
	  text-decoration: underline;
	}







}*/
